<ion-view view-title="Register">
<ion-content>
  <div class="list">
    <label class="item item-input">
      <input type="text" ng-model="register.username" placeholder="Username">
    </label>

    <label class="item item-input">
      <input type="text" ng-model="register.email" placeholder="Email">
    </label>

    <label class="item item-input">
      <input type="password" ng-model="register.password" placeholder="Password">
    </label>

    <button class="button button-balanced button-block" ng-click="simpan(register);">
      Save
    </button>

  </div>
</ion-content>
</ion-view>
